---
import { Icon } from "astro-icon/components";
import styles from "../../styles/components/title.module.css";

import type { postType } from "../../content/posts/config";
import TitleDateTime from "./DateTime.astro";
import Tags from "./Tags.astro";
const data: postType = Astro.props.data;
---

<h1>{data.title || "Untitled"}</h1>
<div class={styles.info}>
    {
        data.author && (
            <div>
                <Icon name="material-symbols:person-edit-outline-rounded" />
                <i>Author: {data.author}</i>
            </div>
        )
    }
    <TitleDateTime pubDate={data.pubDate} modDate={data.modDate} />
</div>
<details open="true" class={styles.detail}>
    <summary>Details</summary>
    <p>Description: {data.description}</p>
    <div><span>Tags:</span><Tags tags={data.tags} /></div>
</details>
